body{
  background-color: white;
  font-family: sans-serif;
}





#container{
  display: flex;
  flex-flow: row wrap;
  width: 999px;
  justify-content: center;
  margin-left: 150px;
}

div{
  width: 250px;
  margin: 1px;
  display: block;
}

.line{display: flex;
  color: blue;
  justify-content: center;

};

.
